<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="../static/css/A2_downloading.css">




</head>

<body>
<h1>Please select File Address:</h1>


    <form id="allForm2" method="post"  >


        <div id="fileSourceDiv" style="display:block;">
            <h1>Step1</h1>
            {% csrf_token %}
            {{ browsingMethodForm.as_p }}
        </div>

        <div id="fileNameDiv" style="display:none;">
            <h1>Step2</h1>
            {% csrf_token %}
            {{ fileNameBox.as_p }}
        </div>

        <div id="locationDiv" style="display:none;">
            <h1>Step3</h1>
            {% csrf_token %}
            {{ locationTextBox.as_p }}
        </div>

        <div id="serviceDiv" style="display:none;">
            <h1>Step3</h1>
            {% csrf_token %}
            {{ serviceKeyTextBox.as_p }}
        </div>

        <div id="config" data-g-filename="{{ gFileName }}" data-g-key="{{ gKey }}" data-l-filename="{{ lFileName }}" data-l-key="{{ lLocation }}" style="display: none;"></div>


        <div id="progressBarContainer" class="progress-container" style="display:none;">
            <div id="progressBar" class="progress-bar">0%</div>
        </div>


        <div id="nextButton2Div" style="display:none;" >
            {% csrf_token %}
            {{ nextButton1.as_p }}
        </div>

        <script src="../static/js/A2_downloading_Module.js" type="module"></script>
        <script src="../static/js/A2_downloading.js" type="module"></script>


    </form>


</body>
</html>
